body {
  background-color: #333;
  color: #fff;
}

.navbar {
  border-bottom: #c0392b 3px solid;
  opacity: .7;
}

#home-section {
  background-image: url(https://i.imgur.com/UG7XcPL.jpg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.home-inner {
  padding-top: 120px;
}





